@import "../../../assets/styles/variable.css";

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5F6FA;
}

.logo-container .logo-image {
    background: transparent;
}

.login-card {
    background-color: #F7F7F7;
    margin-top: 1rem;
    border-radius: 2.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    width: 40%;
    text-align: center;
}

.welcome-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.bridge-text {
    color: black;
    text-decoration: underline;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* Center horizontally within the form */
    background-color: #ebe9e9;
    border-radius: 50%;
    width: 100px;
    /* Adjust to your desired size */
    height: 100px;
    /* Ensure the container is circular */
    /* overflow: hidden; */
    /* Ensure the image stays within the circle */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -80px;
    /* Move the div upward to be half out, half in */
    margin-bottom: -60px;
}

.avatar-icon {
    width: 50%;
    height: 50%;
}

.login-heading {
    text-align: center;
    /* margin: 1rem 0; */
    /* Adds spacing above and below the heading */
    font: Nunito Sans;
    font-size: 1.5rem;
    font-weight: 600;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* align-items: flex-start; */
}

.login-form label {
    background-color: #F7F7F7;
    align-self: flex-start;
    margin: 0 2rem;
}

input {
    background-color: #F7F7F7;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 2rem;
    font-size: 1rem;
    /* width: 100%; */
}

.required {
    color: red;
}

.forgot-password {
    text-align: right;
    font-size: 0.9rem;
    color: #555;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-button {
    margin: 0 1rem;
    background-color:var(--primary);
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
}

/* .login-button:hover {
    background-color: #333;
} */