* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    font-family: sans-serif;
    width: 100%;
    margin-top: 2%;
}

/* fist section starts from here */
.logo {
    width: 95%;
}

.logo img {
    display: inline-block;
    width: 50%;
    position: absolute;
}

.logo h1 {
    position: relative;
    display: inline-block;
    width: 50%;
    top: 27px;
    right: 35px;
    font-size: 35px;
}

.first_section p {
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 36px;
    color: #545454;
    top: 100px;
    position: relative;
    left: 20px;
}

.login_section {
    width: 100%;
    position: relative;
    top: 125px;
    cursor: pointer;
}

.four_login_section {
    display: inline-block;
    width: 21%;
}

.four_login_section h5 {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 36px;
    color: #545454;
}

.first_section a {
    position: relative;
    top: 175px;
}

/* fist section ends from here */
/* fist section starts from here */
.second_section{
    padding: 0px 30px;
}
.form {
    position: relative;
    width: 50%;
    text-align: center;
    top: 110px;
    background-color: #FFCC16;
    border-radius: 25px;
    margin: 0 auto;
    padding: 30px 0;
}

.form form label {
    display: block;
    width: 80%;
    text-align: left;
    margin: 10px 0px 10px 67px;

}

.form form input {
    width: 80%;
    display: block;
    padding: 15px 10px;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
}


.forgot {
    text-align: right;
    margin: 10px 65px;
    font-size: 15px;
    font-weight: 100;
    font-family: serif;
    cursor: pointer;
}


.login {
    background-color: black;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    width: 80%;
    font-size: 20px;
    font-weight: 900;
}

.form p {
    cursor: pointer;
    margin-top: 30px;
}

/* fist section starts from here */